
.page-header{
  @include grid-column(12);
  margin-top: rem-calc(60px);
}

.article-posts{
  margin-top: 52px;
  .post{
     @include breakpoint(small) {
      margin-bottom: 30px;

    }
    @include breakpoint(medium) {
      &:first-child{
        @include grid-column(12);
        
      }
      @include grid-column(6);
      margin-bottom: 30px;
    }
    @include breakpoint(large) {
      &:first-child{
        @include grid-column(6);
      }
      @include grid-column(6);
    }

    .info{
      padding-top: 30px;
    }

    .image{
      @include breakpoint(small) {
        height: 120px;
       }
       @include breakpoint(medium){
         height: 240px;
       }
       @include breakpoint(large){
         height: 220px;
       }
    }
   
  }
}