$header-lineheights: (
  small: (
    'h1': 32,
    'h2': 28,
    'h3': 26,
    'h4': 24,
    'h5': 28,
  ),
  medium: (
    'h1': 36,
    'h2': 32,
    'h3': 28,
    'h4': 26,
    'h5': 30,
  ),
  large: (
    'h1': 42,
    'h2': 36,
    'h3': 30,
    'h4': 30,
    'h5': 36,
  ),
);


  // Heading sizes
  @each $size, $headers in $header-lineheights {
    @include breakpoint($size) {
      @each $header, $font-size in $headers {
        #{$header} {
          line-height: rem-calc($font-size);
        }
      }
    }
  }

  .lora{
    font-family: "lora", "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
  }

  @mixin lora($weight: 400){
    font-family: "lora", "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
    font-weight: $weight;
  }

  p{
    font-size: 1.1em;
  }

  h4{
    font-family: $body-font-family;
    font-weight: 400;
    letter-spacing: 0;
  }

  h5 {
    text-transform: uppercase;
    font-family: $body-font-family;
    font-weight: 500;
    letter-spacing: .05em;
    margin-bottom: 0;
    color: color(base,dark);
    transition: color 0.2s ease-in-out;
    span.divider{
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;
      height: 8px;
      width:1px;
      background: color(sky, dark)
    }
    a{
    text-transform: uppercase;
    font-family: $body-font-family;
    font-weight: 500;
    letter-spacing: .05em;
    margin-bottom: 0;
    color: color(base,dark);
    transition: color 0.2s ease-in-out;
    &:hover{
      color: color(blue);
    }
  }
}